<!DOCTYPE html>
<html>
    <body>
        <h1>This is DINOGRAM</h1> 
            <h2>Here are the most popular Dinosaurs of the day!</h2>
        <ul>
            {% for dino_page_post in dino_page_posts %}
                <img src={{ dino_page_post.photo_url }} style="width:300px;height:300px">
                <li>{{ dino_page_post.id }}></li>
                <li>{{ dino_page_post.fullname }}</li>
                <li>{{ dino_page_post.user_name }}</li>
                <li>{{ dino_page_post.caption }}</li>
                <li>{{ dino_page_post.like_count }}</li>
                <li>{{ dino_page_post.fullname }}</li>
                <li>{{ dino_page_post.creation_date}}</li>
                <li>{{ dino_page_post.tag_text }}</li>
            {% endfor %}
        </ul>
        <form action="/dino/" method="post">
            <button>Show Me All The Dinosaurs!</button>
            {% csrf_token %}
        </form>
    </body>
</html>

				