div.extra {
    display: none;
}

div.shown {
	display: inline;
}

.vertical-center { 

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element {
  .center-block();
}

.container {
  width: 940px;
  .center-block();
}